
body {
    font-family: "Noto Sans Old South Arabian", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0 ;
    padding:0 ;
    text-align: center;
  }
nav
{
  background-color: blue;
}
  nav h1
{
  color:white;
}

  input[type="text"], input[type="password"]
  {
    display: block;
    outline:none ;
    width:350px ;
    height:50px ;
    margin:20px auto;
    border:2px solid gray;
    border-radius:3px;

  }

  input[type="submit"]
  {
  display: block;
  outline:none ;
  width:350px;
  margin:10px auto;
  border:2px solid gray;
  border-radius:3px ;
  color:white ;
  background-color: blue;  
  cursor:pointer ;
  height:50px ;
  }

  input[type="submit"]:hover
  {
  background-color: red ;  
  }

